.container-account {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.search-add {
    display: flex;
    justify-content: space-between;
}
  
.search-box {
    display: flex;
    align-items: center;
}
  
.search-box input {
    padding: 8px;
    border: 2px solid #d0baff;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 300px;
}
  
.search-box button {
    padding: 8px 12px;
    background-color: white;
    border: 2px solid #d0baff;
    border-left: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
  
.search-box button i {
    color: black;
}
  
.add-button {
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}
  
.management{

}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background: linear-gradient(180deg, #2D84F7 0%, #A3C9FD 100%);
    padding: 12px;
    border: 1px solid black;
}
  
tbody td {
    padding: 12px;
    border: 1px solid black;
    text-align: center;
}
  
tbody td img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
  
td.active {
    color: green;
    font-weight: bold;
}

  
td.actions i {
    padding: 0 8px;
    cursor: pointer;
    font-size: 18px;
}
  
i.edit {
    color: #f0ad4e;
}
  
i.delete {
    color: #d9534f;
}
  
i.lock {
    color: gray;
}