.form-container {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 20px 0;
}
  
h2 {
    text-align: center;
    font-size: 20px;
    color: #000;
}

.form-account{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.form-group label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
  
input[type="text"],
select {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #e6f4ff;
}
  
.status-group {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    display: flex;
    justify-content: center;
}
  
.status-group label {
    font-weight: normal;
    margin-left: 10px;
}
  
.center {
    text-align: center;
}
  
.button-submit {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.button-submit:hover {
    background-color: #218838;
}